
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255); 
  text-align: center; 
  height: 100vh;
  padding: 0;
  margin: 0;
  color: white;
}

.container{
  text-align: center;
  padding: 30px;
  background-color: rgb(67, 67, 67);
  border-radius: 10px;
  width: 320px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.column{
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  flex-direction: row;

}
button{
  margin: 5px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
  cursor: pointer;
}

#equalto{
  background-color: yellow;
  
}

#textbox{
  background-color: white;
  text-align: right;
  padding: 10px;
  font-size: 24px;
  min-height: 50px;
  margin-bottom: 20px;
  width: 100%;

}

#textbox{
  color: black;
}

#textbox_c{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#buttonC {
  background-color: red;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}